body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: #B93;
}

.Calculadora{
    border: 1px solid black;
    border-radius: 12px;
    width: 300px;
    height: 280px;
    background-color: #111322;
}

.Botonera{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete{
    margin-bottom: 10px;
}

.suma{
    margin-bottom: 10px;
}

.resta{
    margin-bottom: 10px;
}

.mult{
    margin-bottom: 10px;
}

.reset{
    margin-bottom: 10px;
}

.Botonera button{
    border-radius: 12px;
    border: transparent;
    font-size: 18px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Botonera button:hover{
    background-color: wheat;
}

.delete button{
    height: 40px;
    width: 60px;
    margin-right: 4px;
    margin-left: 4px;
    cursor: pointer;
    background-color: #ebe0d6;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

.suma button{
    height: 40px;
    width: 60px;
    margin-right: 4px;
    margin-left: 4px;
    cursor: pointer;
    background-color: #ebe0d6;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

.resta button{
    height: 40px;
    width: 60px;
    margin-right: 4px;
    margin-left: 4px;
    cursor: pointer;
    background-color: #ebe0d6;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

.mult button{
    height: 40px;
    width: 60px;
    margin-right: 4px;
    margin-left: 4px;
    cursor: pointer;
    background-color: #ebe0d6;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

.res{
    height: 40px;
    width: 130px;
    margin-right: 7px;
    cursor: pointer;
    color: white;
}

.igual{
    height: 40px;
    width: 130px;
    margin-left: 6px;
    cursor: pointer;
}

.screen{
    width: 300px;
    height: 80px;
    border-radius: 12px;
    color: white;
    background-color: #101323;
}

.screen span{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}